name: Build HackerSM64 Mobile

on:
  push:
    branches: [ "master", "main" ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-22.04

    steps:
    - name: Checkout do código
      uses: actions/checkout@v4

    - name: Instalar Dependências
      run: |
        sudo apt-get update
        sudo apt-get install -y build-essential git python3 python3-pip binutils-mips-linux-gnu gcc-mips-linux-gnu pkg-config libaudiofile-dev wget
        pip3 install pypng bitstring

    - name: Baixar ROMs dos Links Secretos
      run: |
        # Baixa a US renomeando para o nome correto
        wget -O baserom.us.z64 "${{ secrets.URL_ROM_US }}"
        
        # Baixa a JP renomeando para o nome correto
        wget -O baserom.jp.z64 "${{ secrets.URL_ROM_JP }}"
        
        # Verifica se baixou (mostra o tamanho do arquivo no log)
        ls -lh *.z64

    - name: Compilar (Make)
      run: |
        make clean
        # HackerSM64 precisa das duas ROMs para extrair os assets corretamente
        make VERSION=us -j$(nproc)

    - name: Upload da ROM Pronta
      if: success()
      uses: actions/upload-artifact@v4
      with:
        name: HackerSM64-ROM
        path: build/us/sm64.us.z64
